<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quera</title>
    <style>
        form {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Quera!</h1>
    <p>Finding the answers to all of your burning questions</p>
    <form action="/user">
        <button type="submit">Create User</button>
    </form>
    <form action="/post">
        <button type="submit">Post</button>
    </form>
    <form action="/search">
        <button type="submit">Search</button>
    </form>
</body>
</html>
