<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Form</title>
</head>
<body>
    <h1>User Information Form</h1>
    <form action="/add" method="POST">
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        
        <label for="curr_employment">Current Employment:</label><br>
        <input type="text" id="curr_employment" name="curr_employment"><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        
        <label for="date_of_birth">Date of Birth:</label><br>
        <input type="date" id="date_of_birth" name="date_of_birth"><br>
        
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city"><br>
        
        <label for="ZIP">ZIP Code:</label><br>
        <input type="text" id="ZIP" name="ZIP"><br>
        
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
